<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
      normalize.css removes cross-browser differences in defaults, e.g.,
      differences in how form elements appear between Firefox and IE
      See: http://necolas.github.com/normalize.css/
      -->
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <!--
      application.css is where you put your styles
      
      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="/stylesheets/screen.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/javascripts/application.js"></script>
    <title></title>
  </head>
  <body>
  <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand">Music App</a>
    </div>
    <nav id="bs-navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li style="color:white; font-size:13px; font-weight: 400; padding-top: 15px;
  padding-bottom: 15px;">Welcome <%= current_user.first_name %> <%= current_user.last_name %>, <a href="/sign-out" style="display:inline; background:none !important;">Sign Out</a></li>
          <li><a class="special-1" href="add-new">Add New</a></li>  
        <% else %>
          <li><a href="sign-in">Sign in</a></li>
          <li><a class="special-1" href="sign-up">Sign up</a></li>
        <% end %>
      </ul>
    </nav>
  </div>
  </header>
  <article>
    <div class="container">
    <div class="row">
    <% if @layout == 'sidebar' %>
      <div class="col-md-9" role="main"><%= yield %></div>
      <div class="col-md-3"><img width="100%" src="https://placeholdit.imgix.net/~text?txtsize=42&txt=450%C3%97450&w=450&h=450" alt="place holder" /></div>
    <% else %>
      <div class="col-md-12" role="main"><%= yield %></div>
    <% end %>
  </article>

  <footer style="clear:both;">
    © Copyright 2015, musicapp.com
  </footer>

  </body>
</html>